body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: 0 20px;
}

.card h2 {
  color: #333;
}

.card p {
  color: #666;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.footer {
  margin-top: 20px;
}

.footer a {
  color: #999;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  color: #007bff;
}

.owner-card {
  margin-right: 10px;
}

.customer-card {
  margin-left: 10px;
  height: -90px;
}
